body
{
    background: rgb(53,111,107);
background: linear-gradient(133deg, rgba(53,111,107,1) 0%, rgba(44,180,171,1) 100%);
}

header 
{
    text-align: center;
    padding: 20px;
}
header h1 
{
    text-transform: uppercase;
    font-size: 45px;
    font-family: fantasy;
    color: rgb(255, 255, 255);
    text-shadow:-8px -4px 8px rgb(6, 170, 162);
    
}
